.about-profile {
  position: sticky;
  top: 80px;
  max-height: 75vh;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  margin-bottom: 12vh;
}
@media (max-width: 1024px) {
  .about-profile {
    position: static;
    z-index: 100;
  }
}
.scroller-history {
  transition: all 0.5s ease-in-out;
  max-height: calc(100vh - 320px);
  overflow-y: auto;
}

.scroller-my-blog {
  transition: all 0.5s ease-in-out;
  max-height: calc(100vh - 330px);
  overflow-y: auto;
  overflow-x: hidden;
}
